.register {
    border-radius: 15px;
    background-color: #21262d;
    width: 650px;
    height: 520px;
    color: white;
    margin: 0 auto;

}

.button_wrapper{
    display: flex;
    margin-top: 10px;
    border: none;
    justify-content: center;
}

.sign_in{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 15px;
    width: 75px;
}
.sign_up{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 15px;
    width: 215px;
}
