.upload_image .btn-tertiary{color:white;padding:0;line-height:40px;width:250px;margin:auto;display:block;border:2px solid #555}
.upload_image .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
